{% extends "staticlayout.html" %}

{% block content %}          
        <!-- Main Content Section -->
        <div class="paragraph1 container m-0 m-lg-5" style="max-width: 1386px;padding: 10px;">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <img src="{{url_for('static', filename='frontpage.png')}}" alt="Logo" style="width: 90%;">
                </div>
                <div class="col-12 col-lg-8 mb-3">
                    <div class="title">Cutting Edge AI Powered Assessment Grading Tool At Your Fingertips</div>
                    <div class="description">Welcome to GradeScale! We are revolutionizing education with cutting-edge AI technology. We empower educators by seamlessly integrating LLMs into the grading process, enhancing efficiency and accuracy. Join us in shaping the future of learning!</div>
                    <a href="/signup" class="signup-button" style="margin: auto;">Click here to Sign up with Us!</a>               
                </div>
            </div>
        </div>
        <!-- Features Section -->
        <section id="about-us">
            <div class="outer-container">
                <div class="container p-5 rounded-1" style="background-color: #EED9C466">
                    <div class="row">
                        <div class="col-12 col-lg-3 m-1 rounded-5 p-4 text-center" style="background-color: white;">
                            <h2>Scan Your Answers</h2>
                            <img src="{{url_for('static', filename='scan.png')}}" alt="Scan Your Answers Image" style="width:80%;margin:auto;margin-bottom:20px;text-align: center;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget sapien id nunc bibendum tempus. Nulla facilisi. Sed vel lectus ut nisl tempor fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed euismod ex sit amet nisl vestibulum, sit amet aliquet mi finibus. Morbi eu mauris felis. Aliquam euismod dolor sit amet magna aliquam, non mattis libero sodales. Mauris non nisi </p>
                        </div>
                        <div class="col-0 col-lg-1"></div>
                        <div class="col-12 col-lg-3 m-1 rounded-5 p-4 text-center" style="background-color: white;">
                            <h2>Advanced LLMs</h2>
                            <img src="{{url_for('static', filename='llms.png')}}" alt="Advanced LLMs Image" style="width:80%;margin:auto;margin-bottom:20px;text-align: center;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget sapien id nunc bibendum tempus. Nulla facilisi. Sed vel lectus ut nisl tempor fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed euismod ex sit amet nisl vestibulum, sit amet aliquet mi finibus. Morbi eu mauris felis. Aliquam euismod dolor sit amet magna aliquam, non mattis libero sodales. Mauris non nisi </p>
                        </div>
                        <div class="col-0 col-lg-1"></div>
                        <div class="col-12 col-lg-3 m-1 rounded-5 p-4 text-center" style="background-color: white;">
                            <h2>GradeAssist</h2>
                            <img src="{{url_for('static', filename='assist.png')}}" alt="GradeAssist Image" style="width:80%;margin:auto;margin-bottom:20px;text-align: center;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget sapien id nunc bibendum tempus. Nulla facilisi. Sed vel lectus ut nisl tempor fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed euismod ex sit amet nisl vestibulum, sit amet aliquet mi finibus. Morbi eu mauris felis. Aliquam euismod dolor sit amet magna aliquam, non mattis libero sodales. Mauris non nisi </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}