{% extends "staticlayout.html" %}

{% block content %}
<div style="width:100%;display: block;min-height: 80vh;">
        <!-- Main Content Section -->
        <div class="paragraph1">
          <div class="signup-image"></div>
          <div class="content">
            <div class="login-section">
              <div class="title">Log In</div>
              <div class="sign-up">
                <span>Dont Have an Account ?</span>
                <a href="/signup" class="sign-up-button">Sign Up</a> 
              </div>
            </div>
            <form method="post" action="/login">
            <div class="email-address-section">
              <div class="email-address-text">Enter Your Email Address</div>
            </div>   
            <input type="text" class="input-box" name="email"></input>  
            <br>       
            <div class="password-section">
              <div class="password-text">Enter a Password</div>
            </div>
            <input type="text" class="input-box" name="password"></input><br><br> 
            <div class="button-container">
              <div class="back-button">Back</div><br>
          <button type="submit" class="submit-button">Submit</button> 
        </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}