{% extends "staticlayout.html" %}

{% block head %}
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bs-brain@2.0.3/components/pricings/pricing-2/assets/css/pricing-2.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='pricing.css')}}" />
{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <div class="container2" style="margin-top: 60px">
      <div class="intro-text">
        <h1>
          We offer great <span style="color: #764f29">price</span> plan for the
          <br />application
        </h1>
      </div>
      <div class="switch-wrapper shadow">
        <input id="monthly" type="radio" name="switch" checked />
        <input id="yearly" type="radio" name="switch" />
        <label for="monthly">Monthly</label>
        <label for="yearly">Yearly</label>
        <span class="highlighter"></span>
      </div>
    </div>
    <!-- Pricing Table -->
    <div class="fulltable" style="padding:40px">
      <div class="recommend">
        <div class="empty"></div>
        <div class="recommended">Recommended</div>
      </div>
      <div class="pricingtable">
        <div class="starter">
          <h2>Starter Plan</h2>
          <p>4 teachers</p>
          <p>(4 classrooms each)</p>
          <p>40 students</p>
          <h2 style="font-size: 40px; font-weight: 600">Free</h2>
          <br /><br />
          <button class="get-started" onclick="window.location.href='/signup'">Get Started</button>
        </div>
        <div class="basic">
          <h2>Basic Plan</h2>
          <p>40 teachers</p>
          <p>(4 classrooms each)</p>
          <p>Unlimited students</p>
          <div class="price monthly">
            <h3>
              $<span style="font-size: 40px; font-weight: 600">40</span>/ month
            </h3>
            <br />
            <br />
          </div>
          <div class="price yearly hide">
            <h3 class="price yearly hide">
              $<span style="font-size: 40px; font-weight: 600">32</span>/ month
            </h3>
            <p>billed annually</p>
          </div>
          <button class="get-started" id="special1">Get Started</button>
        </div>
        <div class="premium">
          <h2>Premium Plan</h2>
          <p>80 teachers</p>
          <p>(8 classrooms each)</p>
          <p>Unlimited students</p>
          <div class="price monthly">
            <h3>
              $<span style="font-size: 40px; font-weight: 600">80</span>/ month
            </h3>
            <br />
            <br />
          </div>

          <div class="price yearly hide">
            <h3>
              $<span style="font-size: 40px; font-weight: 600">56</span>/ month
            </h3>
            <p>billed annually</p>
          </div>

          <button class="get-started">Get Started</button>
        </div>
        <div class="custom">
          <h2>
            Custom Plan <br />
            <br />
          </h2>
          <p>
            Tell us your requirements, and we'll create a plan just for you.
          </p>

          <h1 style="font-size: 40px; font-weight: 600">Custom</h1>
          <br />
          <br />
          <button class="contact-sales">Contact Sales</button>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="module" src="{{url_for('static', filename='App.js')}}"></script>
{% endblock %}
