<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
        </style>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Header Section -->
        <header>
        <img class="img" src="{{url_for('static', filename='logo.png')}}" alt="Logo">
            <div class="header-content">
                <h1>GradeScale</h1>
                <h2>Grading. Evolved.</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>   
        
        <!-- Main Content Section -->
        <div class="paragraph1">
          <div class="signup-image"></div>
          <div class="content">
            <div class="login-section">
              <div class="title">Sign Up</div>
              <div class="sign-up">
                <span>Already Have an Account ?</span>
                <a href="/login" class="sign-up-button">Log In</a> 
              </div>
          <form method="post" action="/signup">
              <div class="join-text">Join GradeScale as:</div><br>
              <div class="join-container">
                <div id="teacher" class="join-as-teacher">
                  <span id="textteach" class="text-teacher">Teacher</span>
                </div>
                <div id="student" class="join-as-student">
                  <span id="textstud" class="text-student">Student</span>
                </div>
              </div>
              <input type="text" id="selectedtoggle" name="selectedtoggle" style="opacity:0.1"></input>
              <script>

                document.getElementById('selectedtoggle').value = 'teacher';
                document.getElementById('teacher').addEventListener('click', function() {
                  
                    document.getElementById('teacher').classList = 'join-as-teacher';
                    document.getElementById('student').classList = 'join-as-student';
                    document.getElementById('textteach').classList = 'text-teacher';
                    document.getElementById('textstud').classList = 'text-student';
                    document.getElementById('selectedtoggle').value = 'teacher';
                 
                });
                document.getElementById('student').addEventListener('click', function() {
                  
                    document.getElementById('teacher').classList = 'join-as-student';
                    document.getElementById('student').classList = 'join-as-teacher';
                    document.getElementById('textteach').classList = 'text-student';
                    document.getElementById('textstud').classList = 'text-teacher';
                    document.getElementById('selectedtoggle').value = 'student';
                });
              </script><br><br>
              <div class="enter-name">Enter Your Name</div><br><br>
              <input type="text" class="input-box" name="name"></input><br>
              <div class="email-address-section">
                <div class="email-address-text">Enter Your Email Address</div>
              </div>   
              <input type="text" class="input-box" name="email"></input>  
              <br>       
              <div class="password-section">
                <div class="password-text">Enter a Password</div>
              </div>
              <input type="password" class="input-box" name="password"></input><br>
              <div class="password-section">
                <div class="password-text">Re-enter Your Password</div>
              </div>
              <input type="password" class="input-box" name="repassword"></input><br><br> 
              <div class="button-container">
                <div class="back-button">Back</div><br>
            <button class="submit-button">Submit</button> 
          </form>
              </div>
            </div>        
        </div>
      </div>
    </body>
</html>