<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>GradeScale</title>
        {% block head %}
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
        </style>
        {% endblock %}
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Header Section -->
        <header>
            <a href="/"><img class="img" src="{{url_for('static', filename='logo.png')}}" alt="Logo"></a>
            <div class="header-content">
                <h1>GradeScale</h1>
                <h2>Grading. Evolved.</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about-us">About Us</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    {% if session.get("userid") == None %}
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                    {% else %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout" style="color:red">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
          
        
        {% block content %}
        {% endblock %}
        
        <!-- Footer Section -->
        <div class="footer-container">
            <a href="/terms" style="text-decoration: none;"><div class="copyright">© GradeScale 2024</div></a>
        </div>
    </body>
    {% block scripts %}
    {% endblock %}
</html>
