<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
        </style>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Header Section -->
        <header>
        <img class="img" src="{{url_for('static', filename='logo.png')}}" alt="Logo">
            <div class="header-content">
                <h1>GradeScale</h1>
                <h2>Grading. Evolved.</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>   
        
        <!-- Main Content Section -->
        <div class="paragraph1">
          <div class="signup-image"></div>
          <div class="content">
            <div class="login-section">
              <div class="title">Log In</div>
              <div class="sign-up">
                <span>Dont Have an Account ?</span>
                <a href="/signup" class="sign-up-button">Sign Up</a> 
              </div>
            </div>
            <div class="google-login">
              <div class="google-icon"></div>
              <div class="text">Continue with Google</div>
            </div>
            <div class="apple-login">
              <div class="apple-icon"></div>
              <div class="text">Continue with Apple</div>
            </div>
            <form method="post" action="/login">
            <div class="email-address-section">
              <div class="email-address-text">Enter Your Email Address</div>
            </div>   
            <input type="text" class="input-box" name="email"></input>  
            <br>       
            <div class="password-section">
              <div class="password-text">Enter a Password</div>
            </div>
            <input type="text" class="input-box" name="password"></input><br><br> 
            <div class="button-container">
              <div class="back-button">Back</div><br>
          <button type="submit" class="submit-button">Submit</button> 
        </form>
            </div>
          </div>       
          </div>
      </div>
    </body>
</html>