<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Essay Grading Report</title>
    <link rel="stylesheet" href="{{url_for('static', filename='grading.css')}}" />
  </head>
  <body>
    <div class="background">
      <div class="top">
        <h1>
          GRADING REPORT
        </h1>
      </div>
      <div class="h_line"></div>
      <div
        style="
          width: 90%;
          margin: auto;
          font-size: 24px;
          padding: 20px 0px 50px 0px;
        "
      >
        <div class="details">
          <div id="item1"><span></span>
            Student Name:
            
              <input class="input" readonly value="{{student_name}}"></input>
            
            <div class="h_line2"></div></span>
          </div>
          <div id="item2"><span>
             Teacher Name:
            
              <input 
              class="input" style="width: 60%;" readonly value="{{teacher_name}}"
              ></input>
            
            <div class="h_line2"></div></span>
          </div>
        </div>
      </div>
    </div>
<div id="table-container" style="width: 90%; margin: auto;background-color: #fffff2;"><table>
  <thead>
    <tr>
      <th>QUESTION NUMBER</th>
      <th class="center">A</th>
      <th class="center">0</th>
      <th class="center">GPV</th>
      <th class="center">R</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions["submissions"] %}
    <tr>
      <td class="first">{{loop.index}}</td>
      <td class="center">{{submission[1]["accuracy"]}}</td>
      <td class="center">{{submission[1]["organization"]}}</td>
        <td class="center">{{ ((submission[1]["grammar"] + submission[1]["punctuation"] + submission[1]["vocabulary"]) / 3) | round(2)}}</td>
        <td class="center">{{submission[1]["relevance"]}}</td>
    </tr>
    {% endfor %}

    <tr>
      <td class="first" style="font-weight: 600;">Final Grade:</td>
      <td class="center">{{submissions["Final Grade"]}}</td>
      <td class="clear"></td>
      <td class="clear"></td>
      <td class="clear"></td>
    </tr>
  </tbody>
</table>
</div>
<div class="legend" style="width: 90%; margin: auto; margin-top: 30px; padding: 10px;">
  <h1 style="margin-bottom: 20px;">Legend:</h1>
  <div id="legend">
    <div class="legend-params"><div class="legend-symbol">A</div><div class="legend-attribute">ACCURACY</div></div>
    <div class="legend-params"><div class="legend-symbol" >GPV</div><div class="legend-attribute" style="text-align: center;">GRAMMAR PUNCTUATION <br>VOCABULARY</div></div>
    <div class="legend-params"><div class="legend-symbol">O</div><div class="legend-attribute" >ORGANIZATION</div></div>
    <div class="legend-params"><div class="legend-symbol">R</div><div class="legend-attribute">RELEVENCE</div></div>
  </div>
</div>  
  

  </body>
</html>
