{% extends "student/studentlayout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='qspg.css')}}" />
{% endblock %}
{% block content %}
    <!-- Quiz Details -->
    <div
      class="top-container"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
      "
    >
      <div id="left">
        <h1 style="font-size: 38px">{{assignmentname}}</h1>
        <h4>Subject: {{coursename}}</h4>
      </div>
      
    </div>
    <!-- Question Container -->
    <div class="container">
      <p style="font-size: 16px; font-weight: 600; color: rgba(169, 0, 0, 0.7)">
        Note: Remember to add in the model answer after each question!
      </p>

      {% for question in questions %}
        <h2 class="questions-heading">Question {{loop.index}}</h2>
        <h3 class="questions">
          <input readonly type="text" value="{{question[1]}}" id="{{question[0]}}"/>
        </h3>
        <div class="answer-box-box">
          <textarea name="paragraph_text" cols="50" rows="10" class="answer-box">Answer Here</textarea>
        </div>  
    {% endfor %}


      
    </div>
    <div style="width: 100%;text-align: center;">
        <button id="save-question" onclick="postRequest()">Submit</button>
    </div>
  <script>
    function postRequest(){
        var questions = document.getElementsByClassName("questions");
        var questionList = [];
        for (var i = 0; i < questions.length; i++){
            var question = questions[i].getElementsByTagName("input")[0].id;
            var answer = questions[i].nextElementSibling.getElementsByClassName("answer-box")[0].value;
            questionList.push([question, answer]);
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/student/assignment/{{assignmentid}}", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(questionList));

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href = "/student/dashboard";
            }
        }
    }
  </script>
{% endblock %}
