{% extends "student/studentlayout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
{% endblock %}
{% block content %}
    <h2 style="font-size: 40px; margin: 20px 0px 20px 50px">
      {{coursename}}
    </h2>
    <div class="container" style="width: 85%">
      <section class="assessment-list">
        <h3
          style="
            font-size: 32px;
            margin-bottom: 20px;
            color: rgba(2, 118, 0, 0.7);
          "
        >
          Active & Upcoming Assessments
        </h3>
        <div class="table-outside">
          <table style="border-collapse: separate; border-spacing: 0 10px">
            <thead>
              <div id="exp">
                <tr style="margin-bottom: 5px">
                  <th>Name</th>
                  <th>Section</th>
                  <th>Due Date</th>
                </tr>
              </div>
            </thead>
            <tbody>
              {% for assignment in incompleteassignments %}
                  <tr onclick="window.location.href='/student/assignment/{{assignment[0]}}'" style="cursor: pointer; text-decoration: none; color: black">
                    <td>{{assignment[1]}}</td>
                    <td>{{assignment[2]}}</td>
                    <td>{{assignment[3]}}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <section class="assessment-list">
        <h3
          style="
            font-size: 32px;
            margin-bottom: 20px;
            color: rgba(169, 0, 0, 0.7);
          "
        >
          Completed Assessments
        </h3>
        <table style="border-collapse: separate; border-spacing: 0 10px">
          <thead>
            <tr>
              <th>Name</th>
              <th>Section</th>
              <th>Due Date</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for assignment in completeassignments %}
              <tr onclick="window.location.href='/reportpath/{{assignment[5]}}'" style="cursor: pointer; text-decoration: none; color: black">
                <td>{{assignment[1]}}</td>
                <td>{{assignment[2]}}</td>
                <td>{{assignment[3]}}</td>
                <td>{{assignment[4]}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
{% endblock %}
