<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='qspg.css')}}" />
  </head>
  <body>
    <header>
      <div class="left">
        <a href="/" id="yes" style="height: 70px">
          <img id="gradescale" src="{{url_for('static', filename='logo.png')}}" alt="Logo" />
        </a>
        <div class="header-content">
          <h1>GradeScale</h1>
          <h2>Grading. Evolved.</h2>
        </div>
      </div>
      <input
        type="text"
        id="unnecessary"
        placeholder="Search For Courses, Tools, Settings, Or Anything!"
      />
      <div id="buttons">
        <a href="/teacher/dashboard"
          ><img
            src="{{url_for('static', filename='User 1.png')}}"
            alt="profile-picture"
            id="profile-picture"
            style="width: 50px; aspect-ratio: 1/1; margin: 10px"
        /></a>
      </div>
    </header>
    <!-- Quiz Details -->
    <div
      class="top-container"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
      "
    >
      <div id="left">
        <h1 style="font-size: 38px">{{assignmentname}}</h1>
        <h4>Subject: {{coursename}}</h4>
      </div>
      
    </div>
    <!-- Question Container -->
    <div class="container">
      <p style="font-size: 16px; font-weight: 600; color: rgba(169, 0, 0, 0.7)">
        Note: Remember to add in the model answer after each question!
      </p>

      {% for question in questions %}
        <h2 class="questions-heading">Question {{loop.index}}</h2>
        <h3 class="questions">
          <input type="text" value="{{question[1]}}" />
        </h3>
        <div class="answer-box-box">
          <textarea name="paragraph_text" cols="50" rows="10" class="answer-box">{{question[2]}}</textarea>
        </div>  
    {% endfor %}


      
    </div>
    <div style="width: 100%;text-align: center;">
        <button id="save-question" onclick="postRequest()">Save</button>
    </div>
    <button id="add-question"><img src="{{url_for('static', filename='+.png')}}" alt="add-button" /></button>
  </body>
  <script>
    function postRequest(){
        var questions = document.getElementsByClassName("questions");
        var questionList = [];
        for (var i = 0; i < questions.length; i++){
            var question = questions[i].getElementsByTagName("input")[0].value;
            var answer = questions[i].nextElementSibling.getElementsByClassName("answer-box")[0].value;
            questionList.push([question, answer]);
        }
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/teacher/addquestion/{{assignmentid}}", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(questionList));

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href = "/teacher/dashboard";
            }
        }
    }
  </script>
  <script>
    document.getElementById("add-question").addEventListener("click", function () {
      var questions = document.getElementsByClassName("questions");
      var lastQuestionNumber = questions.length
      var newQuestionNumber = lastQuestionNumber + 1;
      var newQuestion = document.createElement("h2");
      newQuestion.classList.add("questions-heading");
      newQuestion.innerText = "Question " + newQuestionNumber;
      var newQuestionInput = document.createElement("h3");
      newQuestionInput.classList.add("questions");
      var newQuestionInputText = document.createElement("input");
      newQuestionInputText.setAttribute("type", "text");
      newQuestionInputText.setAttribute("value", "Enter your question here");
      newQuestionInput.appendChild(newQuestionInputText);
      var newAnswerBoxBox = document.createElement("div");
      newAnswerBoxBox.classList.add("answer-box-box");
      var newAnswerBox = document.createElement("textarea");
      newAnswerBox.setAttribute("name", "paragraph_text");
      newAnswerBox.setAttribute("cols", "50");
      newAnswerBox.setAttribute("rows", "10");
      newAnswerBox.classList.add("answer-box");
      newAnswerBox.innerText = "Enter your answer here";
      newAnswerBoxBox.appendChild(newAnswerBox);
      document.querySelector(".container").appendChild(newQuestion);
      document.querySelector(".container").appendChild(newQuestionInput);
      document.querySelector(".container").appendChild(newAnswerBoxBox);
    });
  </script>
</html>
