{% extends "student/studentlayout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
{% endblock %}
{% block content %}
    <h2 style="font-size: 40px; margin: 20px 0px 20px 50px">
      {{coursename}}
    </h2>
    <div class="container" style="width: 85%;min-height: 80vh;">
      <section class="assessment-list">
        <div>
          <h3
            style="
              font-size: 32px;
              margin-bottom: 20px;
              display: inline-block;
            "
          >
            Assessment List
          </h3>
          <button onclick="addAssignmentPopup()" class="submit-button" style="display: inline-block;float:right;">Add Assignment</button>
          <a href="/teacher/students/{{courseid}}" style="display:block;margin-bottom:40px;">Enrolled Students</a>
        </div>
        <div class="table-outside">
          <table style="border-collapse: separate; border-spacing: 0 10px">
            <thead>
              <div id="exp">
                <tr style="margin-bottom: 5px">
                  <th>Name</th>
                  <th>Section</th>
                  <th>Due Date</th>
                </tr>
              </div>
            </thead>
            <tbody>
              {% for assignment in assignments %}
              <tr>
                <td>
                  <a
                    href="/teacher/addquestion/{{assignment[0]}}"
                    style="cursor: pointer; text-decoration: none; color: black"
                    >{{assignment[1]}}
                  </a>
                </td>
                <td>{{assignment[2]}}</td>
                <td>{{assignment[3]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <script>
      function addAssignmentPopup(){
        var popup = document.createElement("div");
        popup.className = "popup";
        popup.innerHTML = `
        <div class="popup-content">
          <span class="close" onclick="closePopup()">&times;</span>
          <h2 style="margin-bottom:30px;">Add Assignment</h2>
          <form action="/teacher/addassignment/{{courseid}}" method="POST">
            <label for="assignmentname">Assignment Name:</label><br>
            <input type="text" id="assignmentname" name="assignmentname" required><br><br>
            <label for="section">Section:</label><br>
            <input type="text" id="section" name="section" required><br><br>
            <label for="duedate">Due Date:</label><br>
            <input type="date" id="duedate" name="duedate" required><br><br><br>
            <input type="submit" class="small-submit-button" value="Submit">
          </form>
        </div>
        `;
        document.body.appendChild(popup);
      }

      function closePopup(){
        var popup = document.getElementsByClassName("popup")[0];
        popup.remove();
      }
    </script>
{% endblock %}
