{% extends "student/studentlayout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='index2.css')}}" />
{% endblock %}
{% block content %}
    <div
      class="top-container"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
      "
    >
      <div id="left">
        <h1 style="font-size: 38px">{{coursename}}</h1>
      </div>
    </div>

    <!-- Student List -->
    <div
      class="container"
      style="
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        min-height: 80vh;
      "
    >
      <div>
      <h2 style="margin-bottom: 20px; color: rgba(0, 0, 0, 0.7); display: inline-block;">
        Student List
      </h2>
      <button onclick="addStudentPopup()" class="submit-button" style="display: inline-block;float:right;">Add Student</button>
    </div>
      <table style="border-collapse: separate; border-spacing: 0 5px">
        <thead style="font-size: 16px">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                {{student[1]}}
                </td>
                <td>
                {{student[2]}}
                </td>
                <td>
                {{student[3]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
        function addStudentPopup(){
        var popup = document.createElement("div");
        popup.className = "popup";
        popup.innerHTML = `
        <div class="popup-content">
          <span class="close" onclick="closePopup()">&times;</span>
          <h2 style="margin-bottom:30px;">Add Student</h2>
          <form action="/teacher/addstudent/{{courseid}}" method="POST">
            <label for="studentemail">Student Email:</label><br>
            <input type="text" id="studentemail" name="studentemail" required><br><br>
            <input type="submit" class="small-submit-button" value="Submit">
          </form>
        </div>
        `;
        document.body.appendChild(popup);
      }

      function closePopup(){
        var popup = document.getElementsByClassName("popup")[0];
        popup.remove();
      }
    </script>
{% endblock %}