* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #50524d;
  }
  /* Complicated Header CSS */
  .background {
    background-color: #d9efe2;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .top h1 {
    font-size: 48px;
    letter-spacing: 5px;
  }
  
  #essayname {
    resize: none;
    background-color: #d9efe2;
    border: none;
    font-size: 28px;
    text-align: center;
    height: 45px;
    letter-spacing: 2px;
  }
  ::placeholder {
    color: #50524d;
    opacity: 1;
  }
  .h_line {
    margin: auto;
    width: 90%;
    height: 5px;
    background: #fff;
  }
  .h_line2 {
    margin: auto;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .input {
    font-size: 20px;
    height: 30px;
    padding: 2px;
    resize: none;
    overflow: hidden;
    background-color: inherit;
    border: none;
    width: 70%;
    overflow: auto;
  }
  .details {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  #item1 {
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 8;
  }
  #item2 {
    padding: 5px;
    grid-column-start: 8;
    grid-column-end: 13;
  }
  #item3 {
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  #item4 {
    padding: 5px;
    grid-column-start: 7;
    grid-column-end: 13;
  }
  /* Table CSS From Now */
  table {
    border-collapse: separate;
    width: 100%;
    margin-top: 40px;
  }
  
  th,
  td {
    height: 70px;
    border: 5px solid white;
    padding: 8px;
    background-color: #f6f6ea;
  }
  
  th {
    text-align: left;
    background-color: #d9efe2;
    height: 70px;
    font-size: 18px;
  }
  .center {
    text-align: center;
    width: 15%;
  }
  .first {
    background-color: #d9efe2;
    font-size: 20px;
  }
  .clear {
    background-color: white;
  }
  
  #legend {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 60px 60px;
    gap: 20px;
  }
  .legend-params {
    display: flex;
  
    align-items: center;
  }
  .legend-symbol {
    width: 70px !important;
    font-size: 22px;
    background-color: #d9efe2;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
  }
  .legend-attribute {
    font-size: 22px;
  }
  