* {
  margin: 0;
  padding: 0;
  font-family: "Outfit" !important;
  box-sizing: border-box;
}
header {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}
.left {
  display: flex;
  align-items: center;
}
#yes {
  height: 70px;
  padding: 0;
}
#gradescale {
  border: none;
  width: 67px;
  height: 70px;
  object-fit: contain;
}
.header-content {
  display: flex;
  flex-direction: column;
}
.header-content h1 {
  font-size: 24px;
  font-weight: bold;
  padding: -4px;
  margin: 0;
}
.header-content h2 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#unnecessary {
  padding: 0px 15px;
  width: 50%;
  height: 40px;
  border: none;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
#right input {
  width: 20px;
  background-color: rgba(248, 240, 231, 1);
  border: none;
  border-radius: 4px;
  height: 30px;
  margin: 0px 3px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#right h4 {
  color: rgba(0, 0, 0, 0.65);
}
#left h4 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
}
#left h4 button {
  cursor: pointer;
  text-align: center;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
  height: 28px;
  aspect-ratio: 1/1;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}
#left h4 button:hover {
  background-color: rgba(238, 217, 196, 0.4);
}
.container {
  width: 88%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 80px auto;
  margin-bottom: 0px;
}
.questions-heading {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0px;
}
.questions input {
  border: none;
  width: 100%;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  padding: 15px;
  background-color: rgba(238, 217, 196, 0.4);
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}
.answer-box {
  border: none;
  width: 100%;
  height: 300px;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  resize: none;
}
.answer-box-box {
  padding: 20px 30px 10px 30px;
  background-color: rgba(238, 217, 196, 0.4);
  border-radius: 20px;
}
#add-question {
  border: none;
  background-color: rgba(228, 255, 234, 1);
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-box-shadow: -4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: -4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 15px;
  cursor: pointer;
}

#save-question {
  border: none;
  background-color: rgba(228, 255, 234, 1);
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: -4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: -4px 8px 10px 4px rgba(0, 0, 0, 0.25);
  margin: 15px;
  cursor: pointer;
}

#loading{
  border: none;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  margin: 15px;
}

/*FOOTER*/
.footer-container {
  margin-top: 50px;
  background-color: #764F29;
  padding: 20px 30px; 
  width: 100%; 
  box-sizing: border-box;
}

.footer-links {
  margin-bottom: 11px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  width: auto; 
  max-width: 100%; 
  box-sizing: border-box;
}

.footer-link {
  margin: 0 10px 10px 0; 
  width: calc(50% - 10px);
  font-family: 'Outfit';
  font-size: 14px; 
  color: #FFFFFF;
  text-align: left;
}

.footer-icons {
  display: flex;
  width: auto; 
  box-sizing: border-box;
}

.social-icon {
  background-size: cover;
  width: 24px; 
  height: 24px; 
}

.copyright {
  margin-top: 10px; 
  font-family: 'Outfit';
  font-size: 12px;
  color: rgba(255,255,255,0.7);
}

.logoutbutton{
  background-color: #ff8c8c;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  float:right;
  text-decoration: none;
}